<section class="
  md:mx-24
  md:my-12
  space-y-4
  md:space-y-8
">
  <h1 class="
    font-semibold
    md:text-2xl
  ">
    <%= translate(".title") %>
  </h1>

  <%= form_with(model: shipment, html: {
    class: "
      flex
      flex-col
      items-stretch
      md:flex-row
    ",
  }) do |form| %>
    <%= form.hidden_field :country %>

    <section class="
      flex-grow
      mb-8
      md:mb-auto
      md:mr-24
      space-y-4
    ">
      <fieldset class="
        flex
        flex-col
        items-stretch
        space-y-2
      ">
        <%= form.label(:name, class: "
          block
        ") %>
        <%= form.text_field(:name) %>

        <%= form.label(:email, class: "
          block
        ") %>
        <%= form.email_field(:email) %>
      </fieldset>

      <fieldset class="
        flex
        flex-col
        items-stretch
        space-y-2
      ">
        <%= form.label(:line1, class: "
          block
        ") %>
        <%= form.text_field(:line1) %>

        <%= form.label(:line2, class: "
          block
        ") %>
        <%= form.text_field(:line2) %>

        <%= form.label(:city, class: "
          block
        ") %>
        <%= form.text_field(:city) %>

        <div class="
          gap-4
          grid
          md:grid-cols-2
        ">
          <div class="
            flex
            flex-col
            items-stretch
            space-y-2
          ">
            <%= form.label(:state, class: "
              block
            ") %>
            <%= form.text_field(:state) %>
          </div>

          <div class="
            flex
            flex-col
            items-stretch
            space-y-2
          ">
            <%= form.label(:postal_code, class: "
              block
            ") %>

            <%= form.text_field(:postal_code) %>
          </div>
        </div>
      </fieldset>
    </section>

    <section class="
      md:space-y-8
      md:w-2/6
      space-y-4
      w-full
    ">
      <aside class="
        bg-red-100
        md:p-8
        md:space-y-6
        p-4
        rounded-lg
        space-y-2
      ">
        <h2 class="
          font-semibold
          text-xl
        ">
          Order Summary
        </h2>

        <table class="
          flex
          flex-col
          space-y-2
          md:space-y-6
        ">
          <thead class="
            space-y-2
            md:space-y-6
          ">
            <tr class="
              flex
              justify-between
            ">
              <th class="
                font-light
                text-gray-600
              ">
                Product
              </th>

              <th scope="col" class="
                font-light
                text-gray-600
              ">
                Price
              </th>
            </tr>
          </thead>

          <tbody class="
            space-y-2
            md:space-y-6
          ">
          <% shipment.line_items.each do |line_item| %>
            <tr class="
              flex
              justify-between
            ">
              <th scope="row" class="
                font-normal
              ">
                <%= line_item.title %>
              </th>

              <td class="
                font-semibold
              ">
                <%= number_to_currency(line_item.price_in_dollars) %>
              </td>
            </tr>
          <% end %>
          </tbody>

          <tfoot class="
            space-y-2
            md:space-y-6
          ">
            <tr class="
              flex
              justify-between
            ">
              <th scope="row" class="
                font-normal
              ">
                Sub-total
              </th>

              <td class="
                font-semibold
              ">
                <%= number_to_currency(shipment.total_in_dollars) %>
              </td>
            </tr>

            <tr class="
              flex
              justify-between
            ">
              <th scope="row" class="
                font-normal
              ">
                Shipping
              </th>

              <td class="
                font-semibold
              ">
                Free shipping
              </td>
            </tr>

            <tr class="
              flex
              justify-between
              py-4
              md:py-6
            ">
              <th scope="row" class="
                font-normal
              ">
                Total
              </th>

              <td class="
                font-semibold
              ">
                <%= number_to_currency(shipment.total_in_dollars) %>
              </td>
            </tr>
          </tfoot>
        </table>
      </aside>

      <%= form.button(class: "
        bg-red-600
        hover:bg-red-700
        px-4
        py-2
        rounded-full
        text-center
        text-white
        text-xl
        w-full
      ") %>
    </section>
  <% end %>
</section>
