<section class="
  md:mx-24
  md:my-12
  space-y-4
  md:space-y-8
">
  <h1 class="
    font-semibold
    md:text-2xl
  ">
    <%= translate(".title") %>
  </h1>

  <%= form_with(model: shipment, html: {
    "data-controller": "form",
    "data-form-validation-messages-value": render(partial: "constraint_validation_messages", formats: :json),
    "data-form-will-validate-value": shipment.errors.any?,
    "data-action": "
      submit->form#clearErrors
      focusout->form#reportValidity
    ",
    class: "
      flex
      flex-col
      items-stretch
      md:flex-row
    ",
  }) do |form| %>
    <%= form.hidden_field :country %>

    <section class="
      flex-grow
      mb-8
      md:mb-auto
      md:mr-24
      space-y-4
    ">
      <fieldset class="
        flex
        flex-col
        items-stretch
        space-y-2
      ">
        <% with_options form: form, attribute: :name do |field| %>
          <%= field.render("label") %>
          <%= field.render("text_field", required: true) %>
          <%= field.render("errors") %>
        <% end %>

        <% with_options form: form, attribute: :email do |field| %>
          <%= field.render("label") %>
          <%= field.render("text_field", type: :email, required: true) %>
          <%= field.render("errors") %>
        <% end %>
      </fieldset>

      <fieldset class="
        flex
        flex-col
        items-stretch
        space-y-2
      ">
        <% with_options form: form, attribute: :line1 do |field| %>
          <%= field.render("label") %>
          <%= field.render("text_field", required: true) %>
          <%= field.render("errors") %>
        <% end %>

        <% with_options form: form, attribute: :line2 do |field| %>
          <%= field.render("label") %>
          <%= field.render("text_field") %>
          <%= field.render("errors") %>
        <% end %>

        <% with_options form: form, attribute: :city do |field| %>
          <%= field.render("label") %>
          <%= field.render("text_field", required: true) %>
          <%= field.render("errors") %>
        <% end %>

        <div class="
          gap-4
          grid
          md:grid-cols-2
        ">
          <div class="
            flex
            flex-col
            items-stretch
            space-y-2
          ">
            <% with_options form: form, attribute: :state do |field| %>
              <%= field.render("label") %>
              <%= field.render("text_field", required: true) %>
              <%= field.render("errors") %>
            <% end %>
          </div>

          <div class="
            flex
            flex-col
            items-stretch
            space-y-2
          ">
            <% with_options form: form, attribute: :postal_code do |field| %>
              <%= field.render("label") %>
              <%= field.render("text_field", required: true, minlength: 5) %>
              <%= field.render("errors") %>
            <% end %>
          </div>
        </div>
      </fieldset>
    </section>

    <section class="
      md:space-y-8
      md:w-2/6
      space-y-4
      w-full
    ">
      <aside class="
        bg-red-100
        md:p-8
        md:space-y-6
        p-4
        rounded-lg
        space-y-2
      ">
        <%= render(shipment.becomes(Order)) %>
      </aside>

      <%= form.button(class: "
        bg-red-600
        hover:bg-red-700
        px-4
        py-2
        rounded-full
        text-center
        text-white
        text-xl
        w-full
      ") %>
    </section>
  <% end %>
</section>
