<section class="
  md:mx-24
  md:my-12
  space-y-4
  md:space-y-8
">
  <h1 class="
    font-semibold
    md:text-2xl
  ">
    <%= translate(".title") %>
  </h1>

  <%= form_with(model: shipment, html: {
    class: "
      flex
      flex-col
      items-stretch
      md:flex-row
    ",
  }) do |form| %>
    <%= form.hidden_field :country %>

    <section class="
      flex-grow
      mb-8
      md:mb-auto
      md:mr-24
      space-y-4
    ">
      <fieldset class="
        flex
        flex-col
        items-stretch
        space-y-2
      ">
        <%= render("label", form: form, attribute: :name) %>
        <%= render("text_field", form: form, attribute: :name) %>
        <%= render("errors", form: form, attribute: :name) %>

        <%= render("label", form: form, attribute: :email) %>
        <%= render("text_field", form: form, attribute: :email, type: :email) %>
        <%= render("errors", form: form, attribute: :email) %>
      </fieldset>

      <fieldset class="
        flex
        flex-col
        items-stretch
        space-y-2
      ">
        <%= render("label", form: form, attribute: :line1) %>
        <%= render("text_field", form: form, attribute: :line1) %>
        <%= render("errors", form: form, attribute: :line1) %>

        <%= render("label", form: form, attribute: :line2) %>
        <%= render("text_field", form: form, attribute: :line2) %>
        <%= render("errors", form: form, attribute: :line2) %>

        <%= render("label", form: form, attribute: :city) %>
        <%= render("text_field", form: form, attribute: :city) %>
        <%= render("errors", form: form, attribute: :city) %>

        <div class="
          gap-4
          grid
          md:grid-cols-2
        ">
          <div class="
            flex
            flex-col
            items-stretch
            space-y-2
          ">
            <%= render("label", form: form, attribute: :state) %>
            <%= render("text_field", form: form, attribute: :state) %>
            <%= render("errors", form: form, attribute: :state) %>
          </div>

          <div class="
            flex
            flex-col
            items-stretch
            space-y-2
          ">
            <%= render("label", form: form, attribute: :postal_code) %>
            <%= render("text_field", form: form, attribute: :postal_code) %>
            <%= render("errors", form: form, attribute: :postal_code) %>
          </div>
        </div>
      </fieldset>
    </section>

    <section class="
      md:space-y-8
      md:w-2/6
      space-y-4
      w-full
    ">
      <aside class="
        bg-red-100
        md:p-8
        md:space-y-6
        p-4
        rounded-lg
        space-y-2
      ">
        <%= render(shipment.becomes(Order)) %>
      </aside>

      <%= form.button(class: "
        bg-red-600
        hover:bg-red-700
        px-4
        py-2
        rounded-full
        text-center
        text-white
        text-xl
        w-full
      ") %>
    </section>
  <% end %>
</section>
