<section class="
  md:mx-24
  md:my-12
  space-y-4
  md:space-y-8
">
  <h1 class="
    font-semibold
    md:text-2xl
  ">
    <%= translate(".title") %>
  </h1>

  <%= form_with(scope: :payment, model: payment, url: payment_path(payment), html: {
    class: "
      flex
      flex-col
      items-stretch
      md:flex-row
    ",
    "data-controller": "stripe",
    "data-stripe-client-secret-value": payment.stripe_payment_intent.client_secret,
    "data-stripe-publishable-key-value": payment.stripe_publishable_key,
    "data-stripe-billing-details-value": render(partial: payment, formats: :json),
    "data-action": "
      submit->stripe#confirmCardPayment
      submit->stripe#clearErrors
      stripe:error->stripe#renderError
    ",
  }) do |form| %>
    <%= form.hidden_field(:stripe_payment_method, "data-stripe-target": "paymentMethod") %>

    <section class="
      flex-grow
      mb-8
      md:mb-auto
      md:mr-24
      space-y-4
    ">
      <fieldset class="
        flex
        flex-col
        items-stretch
        space-y-2
      ">
        <% with_options form: form, attribute: :card_number do |field| %>
          <%= field.render("label") %>
          <%= field.render("text_field", "data-stripe-target": :cardNumber) %>
          <%= field.render("errors", "data-stripe-target": :cardNumberErrors) %>
        <% end %>

        <div class="
          gap-4
          grid
          md:grid-cols-2
        ">
          <div class="
            flex
            flex-col
            flex-grow
            items-stretch
            space-y-2
          ">
            <% with_options form: form, attribute: :card_expiry do |field| %>
              <%= field.render("label") %>
              <%= field.render("text_field", "data-stripe-target": :cardExpiry) %>
              <%= field.render("errors", "data-stripe-target": :cardExpiryErrors) %>
            <% end %>
          </div>

          <div class="
            flex
            flex-col
            flex-grow
            items-stretch
            space-y-2
          ">
            <% with_options form: form, attribute: :card_cvc do |field| %>
              <%= field.render("label") %>
              <%= field.render("text_field", "data-stripe-target": :cardCvc) %>
              <%= field.render("errors", "data-stripe-target": :cardCvcErrors) %>
            <% end %>
          </div>
        </div>
      </fieldset>

      <aside class="
        bg-red-100
        md:p-8
        md:space-y-6
        p-4
        rounded-lg
        space-y-2
      ">
        <h2 class="
          font-semibold
          md:text-xl
        ">
          <%= translate("checkouts.shipments.new.title") %>
        </h2>

        <p>
          <%= payment.name %>
          <%= payment.email %>
          <%= payment.line1 %>
          <%= payment.line2 %>
          <%= payment.city %>
          <%= payment.state %>
          <%= payment.postal_code %>
          <%= payment.country %>
        </p>
      </aside>
    </section>

    <section class="
      md:space-y-8
      md:w-2/6
      space-y-4
      w-full
    ">
      <aside class="
        bg-red-100
        md:p-8
        md:space-y-6
        p-4
        rounded-lg
        space-y-2
      ">
        <%= render(payment) %>
      </aside>

      <%= form.button(class: "
        bg-red-600
        hover:bg-red-700
        px-4
        py-2
        rounded-full
        text-center
        text-white
        text-xl
        w-full
      ") %>
    </section>
  <% end %>
</section>
