<% content_for :header do %>
  <%= link_to books_path do %>
    <%= inline_svg_tag("logo", title: translate("layouts.application.brand"), class: "
      h-8
    ") %>
  <% end %>
<% end %>

<section class="
  md:mx-24
  md:my-12
  space-y-4
  md:space-y-8
">
  <h1 class="
    font-semibold
    md:text-2xl
  ">
    <%= translate(".title") %>
  </h1>

  <%= form_with(model: payment, html: {
    class: "
      flex
      flex-col
      items-start
      md:flex-row
    ",
    "data-action": "submit->stripe#confirmCardPayment",
    "data-controller": "stripe",
    "data-stripe-client-secret-value": payment.stripe_payment_intent.client_secret,
    "data-stripe-publishable-key-value": payment.stripe_publishable_key,
    "data-stripe-billing-details-value": render(partial: payment, formats: :json),
  }) do |form| %>
    <%= form.hidden_field(:stripe_payment_method, "data-stripe-target": "paymentMethod", required: true) %>

    <section class="
      flex-grow
      mb-8
      md:mb-auto
      md:mr-24
      space-y-4
    ">
      <fieldset class="
        flex
        flex-col
        items-stretch
        space-y-2
      ">
        <%= form.label(:card_number, class: "
          block
        ") %>
        <%= tag.div(id: :payment_card_number, "data-stripe-target": :cardNumber, class: "
          form-input
        ") %>

        <div class="
          row-gap-2
          col-gap-4
          grid
          grid-cols-2
        ">
          <%= form.label(:card_expiry, class: "
            block
          ") %>
          <%= form.label(:card_cvc, class: "
            block
          ") %>

          <%= tag.div(id: :payment_card_expiry, "data-stripe-target": :cardExpiry, class: "
            form-input
          ") %>
          <%= tag.div(id: :payment_card_cvc, "data-stripe-target": :cardCvc, class: "
            form-input
          ") %>
        </div>
      </fieldset>

      <aside class="
        bg-red-100
        md:p-8
        md:space-y-6
        p-4
        rounded-lg
        space-y-2
      ">
        <h2 class="
          font-semibold
          md:text-xl
        ">
          <%= translate("checkouts.shipments.new.title") %>
        </h2>

        <p>
          <%= payment.name %>
          <%= payment.email %>
          <%= payment.line1 %>
          <%= payment.line2 %>
          <%= payment.city %>
          <%= payment.state %>
          <%= payment.postal_code %>
          <%= payment.country %>
        </p>
      </aside>
    </section>

    <section class="
      md:space-y-8
      md:w-2/6
      space-y-4
      w-full
    ">
      <aside class="
        bg-red-100
        md:p-8
        md:space-y-6
        p-4
        rounded-lg
        space-y-2
      ">
        <%= render(payment.becomes(Order)) %>
      </aside>

      <%= form.button(class: "
        bg-red-600
        hover:bg-red-700
        px-4
        py-2
        rounded-full
        text-center
        text-white
        text-xl
        w-full
      ") %>
    </section>
  <% end %>
</section>
