<nav>
  <% [
    Checkout::Shipment,
    Checkout::Billing,
    Checkout::Payment,
  ].each do |step_class| %>
    <% step = checkout.becomes(step_class).dup %>
    <% text = translate(step_class.model_name.singular, scope: "checkout.steps") %>

    <% if step.valid? %>
      <%= link_to([:new, step_class.model_name.singular, checkout_id: checkout.id], class: [
        "breadcrumb",
        ("breadcrumb--current" if checkout.kind_of?(step_class)),
      ]) do %>
        <%= text %>
      <% end %>
    <% else %>
      <%= tag.span(class: [
        "breadcrumb",
        ("breadcrumb--current" if checkout.kind_of?(step_class)),
      ]) do %>
        <%= text %>
      <% end %>
    <% end %>
  <% end %>

  <span class="breadcrumb">
    <%= translate(:checkout_confirmation, scope: "checkout.steps") %>
  </span>
</nav>
