<%= render("checkout/frame", checkout: checkout) do %>
  <nav>
    <%= link_to new_checkout_shipment_path(checkout), class: "breadcrumb" do %>
      <%= translate("checkout.steps.shipment") %>
    <% end %>

    <span aria-current="page" class="breadcrumb breadcrumb--current">
      <%= translate("checkout.steps.payment") %>
    </span>

    <span class="breadcrumb">
      <%= translate("checkout.steps.confirmation") %>
    </span>
  </nav>

  <%= render(partial: checkout.becomes(Checkout::Shipment)) %>

  <%= form_with(model: checkout) do |form| %>
    <%= form.label(:bill_with_shipping_address) %>
    <%= form.check_box(:bill_with_shipping_address) %>

    <%= form.label(:billing_address) %>
    <%= form.text_field(:billing_address) %>

    <%= form.submit %>
  <% end %>
<% end %>
