<%= render("checkout/frame", checkout: checkout) do %>
  <%= render(partial: checkout.becomes(Checkout::Shipment)) %>

  <%= render(partial: checkout.becomes(Checkout::Billing)) %>

  <%= form_with(model: checkout, html: {
    "data-controller": "payment",
    "data-payment-stripe-publishable-key": checkout.stripe_publishable_key,
    "data-payment-stripe-client-secret": checkout.stripe_payment_intent.client_secret,
  }) do |form| %>
    <div data-target="payment.card"></div>

    <%= form.submit(type: :button, "data-action": "click->payment#submitPayment") %>
  <% end %>
<% end %>
