<%= render("checkout/frame", checkout: checkout) do %>
  <nav>
    <%= link_to new_checkout_shipment_path(checkout), class: "breadcrumb" do %>
      <%= translate("checkout.steps.shipment") %>
    <% end %>

    <span aria-current="page" class="breadcrumb breadcrumb--current">
      <%= translate("checkout.steps.payment") %>
    </span>

    <span class="breadcrumb">
      <%= translate("checkout.steps.confirmation") %>
    </span>
  </nav>

  <%= render(partial: checkout.becomes(Checkout::Shipment)) %>

  <%= form_with(model: checkout, html: {
    "data-controller": "payment",
    "data-action": "submit->payment#submitPayment",
    "data-payment-stripe-publishable-key": checkout.stripe_publishable_key,
    "data-payment-stripe-client-secret": checkout.payment_intent.client_secret,
  }) do |form| %>
    <%= form.hidden_field(
      :stripe_payment_method_id,
      "data-target": "payment.paymentMethod",
    ) %>

    <%= form.label(:billing_address) %>
    <%= form.text_field(:billing_address) %>

    <div data-target="payment.card"></div>

    <%= form.submit %>
  <% end %>
<% end %>
