<%= render("checkout/frame", checkout: checkout) do %>
  <%= render(partial: checkout.becomes(Checkout::Shipment)) %>

  <%= render(partial: checkout.becomes(Checkout::Billing)) %>

  <%= form_with(model: checkout, html: {
    "data-controller": "payment",
    "data-action": "submit->payment#submitPayment",
    "data-payment-stripe-publishable-key": checkout.stripe_publishable_key,
    "data-payment-stripe-client-secret": checkout.payment_intent.client_secret,
  }) do |form| %>
    <%= form.hidden_field(
      :stripe_payment_method_id,
      "data-target": "payment.paymentMethod",
    ) %>

    <div data-target="payment.card"></div>

    <%= form.submit %>
  <% end %>
<% end %>
