<section class="
  md:mx-24
  md:my-12
">
  <nav class="
    flex
    flex-row
    items-center
    m-4
    md:my-8
    md:text-lg
    text-sm
  ">
    <%= link_to books_path do %>
      <%= translate(".library") %>
    <% end %>

    <%= inline_svg_tag("icons/chevron-right", class: "
      h-6
      stroke-current
      w-6
    ") %>

    <span>
      <%= book.title %>
    </span>
  </nav>

  <article class="
    gap-4
    grid
    grid-cols-1
    md:gap-6
    md:grid-cols-2
    md:row-gap-24
  ">
    <div class="
      bg-red-100
      flex
      justify-center
      px-8
      py-16
      rounded-lg
    ">
      <%= render("books/cover", cover: book.cover, caption: book.title) %>
    </div>

    <div class="
      flex
      flex-col
      items-center
      justify-center
    ">
      <h1 class="
        font-semibold
        md:text-4xl
        text-2xl
      ">
        <%= book.title %>
      </h1>

      <p class="
        font-semibold
        md:text-2xl
        text-xl
      ">
        <%= number_to_currency(book.price_in_dollars) %>
      </p>

      <%= form_with(model: [book, book.line_items.build], html: {
        "data-controller": "
          quantity-form
        ",
        class: "
          flex
          items-center
          space-x-4
        ",
      }) do |form| %>
        <div
          class="
            border-2
            border-red-100
            flex
            flex-row
            items-center
            justify-between
            px-4
            py-2
            rounded-full
          "
          data-controller="input-step"
          data-input-step-enabled-class="input-step-none"
        >
          <button
            type="button"
            data-action="
              click->input-step#stepDown
            "
            data-input-step-target="button"
            hidden
          >
            <%= inline_svg_tag("icons/chevron-left", title: translate("helpers.submit.line_item.decrement"), class: "
              h-6
              stroke-current
              w-6
            ") %>
          </button>

          <%= form.number_field(:increment, {
            min: 1,
            class: "
              font-semibold
              mx-4
              text-center
              w-8
            ",
            "data-input-step-target": "input",
          }) %>
          <%= form.label(:increment, class: "
            sr-only
          ") %>

          <button
            type="button"
            data-action="
              click->input-step#stepUp
            "
            data-input-step-target="button"
            hidden
          >
            <%= inline_svg_tag("icons/chevron-right", title: translate("helpers.submit.line_item.increment"), class: "
              h-6
              stroke-current
              w-6
            ")%>
          </button>
        </div>

        <%= form.button(class: "
          bg-red-600
          hover:bg-red-700
          px-4
          py-2
          rounded-full
          text-white
        ") %>
      <% end %>
    </div>

    <div class="
      lg:ml-16
      lg:prose-xl
      m-4
      prose
    ">
      <%= book.description %>
    </div>

    <div class="
      lg:ml-16
      m-4
      md:prose
      prose
      prose-sm
    ">
      <%= book.table_of_contents %>
    </div>
  </article>
</section>
