<nav class="
  flex
  justify-between
">
  <%= link_to books_path do %>
    <%= inline_svg_tag("logo", title: translate(".brand"), class: "
      h-8
    ") %>
  <% end %>

  <details class="
    bg-white
    m-0
    p-0
  ">
    <summary class="
      cursor-pointer
      list-none
      open:fixed
      right-0
      top-0
      z-20
    ">
      <div class="
        block
        open:hidden
        relative
      ">
        <span class="sr-only"><%= translate(".order.open") %></span>
        <%= inline_svg_tag("icons/shopping-cart", {
          class: "
            h-8
            stroke-current
            w-8
          ",
        }) %>

        <% if Current.order.line_items.any? %>
          <%= inline_svg_tag("icons/circle", {
            class: "
              absolute
              fill-current
              h-2
              right-0
              rounded-full
              text-red-500
              top-0
              w-2
            ",
          }) %>
        <% end %>
      </div>

      <div class="
        hidden
        px-8
        py-10
        open:block
      ">
        <span class="sr-only"><%= translate(".order.close") %></span>
        <%= inline_svg_tag("icons/x", class: "
          h-8
          stroke-current
          w-8
        ") %>
      </div>
    </summary>

    <div class="
      bg-white
      bottom-0
      cursor-auto
      fixed
      flex
      flex-col
      h-screen
      left-0
      m-0
      md:bottom-auto
      md:left-auto
      md:ml-auto
      md:w-1/4
      p-0
      right-0
      top-0
      z-10
    ">
      <%= render(Current.order) %>
    </div>

    <div class="
      fixed
      bg-black
      bg-opacity-25
      h-screen
      hidden
      md:block
      left-0
      right-0
      top-0
      bottom-0
    ">
    </div>
  </details>
</nav>
