<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CheckoutExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <aside>
        <% if flash.notice.present? %>
          <div class="
            bg-green-700
            m-2
            p-2
            text-white
          ">
            <%= flash.notice %>
          </div>
        <% end %>
      </aside>

      <%= yield %>
    </main>
  </body>
</html>
