<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CheckoutExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3"></script>
  </head>

  <body>
    <header class="
      m-4
      md:mx-24
      md:my-12
    ">
      <%= render("navigation") %>
    </header>

    <main>
      <aside
        id="flashes"
        data-controller="permanent"
        data-action="turbolinks:before-render@document->permanent#cloneChildren"
        data-permanent-append-value="true"
        data-turbolinks-permanent
      >
        <% if flash.notice.present? %>
          <div
            data-controller="temporary"
            data-temporary-delay-value="5000"
            class="
              bg-green-700
              m-2
              p-2
              text-white
            ">
            <%= flash.notice %>
          </div>
        <% end %>
      </aside>

      <%= yield %>
    </main>
  </body>
</html>
