<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TurboCheckout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body
    data-controller="scroll"
    data-action="
      submit->scroll#savePosition
      turbolinks:load@document->scroll#restorePosition
    "
  >
    <header class="
      flex
      justify-between
      m-4
      md:mx-24
      md:my-12
    ">
      <%= link_to books_path do %>
        <%= inline_svg_tag("logo", title: translate(".brand"), class: "
          h-8
        ") %>
      <% end %>

      <details
        id="order"
        data-controller="
          order
          permanent
        "
        data-action="
          toggle->order#toggleDialog
          turbolinks:before-render@document->permanent#cloneChildren
        "
        class="
          cursor-pointer
        "
        data-turbolinks-permanent
      >
        <summary class="
          list-none
        ">
          <%= inline_svg_tag("icons/shopping-cart", {
            title: translate(".order"),
            class: "
              h-8
              w-8
            ",
          }) %>
        </summary>

        <dialog
          data-action="
            close->order#closeDetails
          "
          data-order-target="dialog"
          class="
            bg-white
            bottom-0
            cursor-auto
            fixed
            flex
            flex-col
            h-screen
            left-0
            m-0
            md:bottom-auto
            md:left-auto
            md:ml-auto
            md:w-1/4
            p-0
            right-0
            top-0
            w-full
          "
          open
        >
          <%= render(partial: Current.order) %>
        </div>
      </details>
    </header>

    <main>
      <aside
        id="flashes"
        data-controller="permanent"
        data-action="turbolinks:before-render@document->permanent#cloneChildren"
        data-permanent-append-value="true"
        data-turbolinks-permanent
      >
        <% if flash.notice.present? %>
          <div
            data-controller="temporary"
            data-temporary-delay-value="5000"
            class="
              bg-green-700
              m-2
              p-2
              text-white
            ">
            <%= flash.notice %>
          </div>
        <% end %>
      </aside>

      <%= yield %>
    </main>
  </body>
</html>
